{% if section.settings.arrow_outside %}
  <button class="toggle-button tbtn_menu" aria-controls="content_{{ bid}}" aria-expanded="false"><svg class="t4s-icon-select-arrow" width="10" height="10" role="presentation" viewBox="0 0 19 12"><use xlink:href="#t4s-select-arrow"></use></svg><span class="sr-only">Shop collections</span></button>
<style>.t4s-menu-item.has--children{display:flex}.t4s-menu-item.has--children a{padding-right:0!important}.tbtn_menu{background:transparent!important;color:black;padding:0 15px 0 0!important}.tbtn_menu:hover{color:black;}</style>
{% endif -%}